# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

#zips and libs
*.7z

# Executables
*.exe
*.out
*.app
*.ilk


#VisualStudio files
*.sdf
*.opensdf
*.suo

#exclude the intermediate directory
Proyecto3/Inter/*

#exclude .vs folder
Proyecto3/.vs/*

#exclude self compiled libraries
Proyecto3/Dependencies/libs/*
Inter
x64
