template container Panel(GUI/BaseButton)
{
    metrics_mode pixels
    horz_align center
    vert_align center
    // Center it horizontally, put it at the top
    left 0
    top 0
    width 200
    height 100
    material GUI/Button/Idle

    container TextArea (GUI/BaseButton/Text)
    {
      metrics_mode pixels
      alignment center
      horz_align center
      left 0
      top 25
      height 50
      width 100
      font_name GUI/ButtonText
      caption BUTTON
      char_height 35
      colour 1 1 0
    }
}

template container TextArea (GUI/PlayerName)
{
  left 0
  top 0.032
  width 0.104
  height 0.05
  font_name GUI/PlayerText
  colour 1 1 1
  char_height 0.038
}


template element Panel (GUI/Round)
{
  left 0
  top 0.185
  width 0.021
  height 0.037
  material GUI/RoundEmpty
}
template container Panel (GUI/Icon)
{

  top 0.0225
  left 0
  width 0.08
  height 0.15
  material GUI/RoundEmpty

}

bgCards
{
	zorder 50
	container Panel (Wololo)
	{
	top 0
	left 0
	width 1
	height 1
	material cardsMenu
	}

}

bgEnd
{
	zorder 50
	container Panel (EndPanel)
	{
	top 0
	left 0
	width 1
	height 1
	material GUI/BasicRed
	}

}

MENU
{
	zorder 100
	container Panel (FondoMainMenu)
	{
	top 0
	left 0
	width 1
	height 1
	material MainMenu2
	}
}


SELECT
{

	zorder 200
	//container Panel (FondoSelectGod)
	//{
	//top 0
	//left 0
	//width 1
	//height 1
	//material GUI/FondoSelectGod
	//}
}

FIGHT
{
	zorder 50
	container Panel (FondoFightMenu)
	{
	top 0
	left 0
	width 1
	height 1
	material GUI/FondoFightMenu
	}
}
// Graphical User Interface for the PlayScene.
GUI
{
    zorder 200
    container Panel(GUI/TimerPanel)
    {
        // Center it horizontally, put it at the top
        left 0.45
        top 0.05
        width 0.084375
        height 0.15
	      material GUI/Chrono
        // Another panel nested in this one
        container TextArea(TimerPanel/TextArea)
        {
            metrics_mode relative
            //Horizontal allignment can be
            //Left, center or right
            horz_align center
            alignment center
            left 0
            top 0.05
            width 0.052
            height 0.093
            font_name GUI/PlayerText
            caption 00
            colour 0.8 0.8 0
            char_height 0.05
          }
      }
//----------------------------- PLAYER 1 GUI --------------------------------------
    container Panel(Player1)
    {
        metrics_mode relative
        top 0
        left 0
        width 0.45
        height 0.2
        material GUI/Base_Player

        container Panel (Player1/Icon) : GUI/Icon
        {
          left 0.013
        }
        container TextArea (Player1/Name) : GUI/PlayerName
        {
          left 0.104
        }
        container Panel (Player1/LifeBar)
        {
          metrics_mode relative
          left 0.104
          top 0.0925
          width 0.27
          height 0.08
          material GUI/Player1/LifeBar
        }
        container Panel (Player1/LifeBorder)
        {
          metrics_mode relative
          left 0.104
          top 0.0925
          width 0.27
          height 0.08
          material GUI/Player1/LifeFrame
        }

        container Panel (Player1/Round1) : GUI/Round
        {
          left 0.29
        }
        container Panel (Player1/Round2) : GUI/Round
        {
          left 0.32
        }
//Active hability
        container Panel (Player1/ActiveContainer)
        {
          top 0.85
          left 0
          width 0.2
          height 0.15
          material GUI/Base_Player

          container Panel (Player1/ActiveConainer/PassiveIcon)
          {
            top 0.046
            left 0.013
            width 0.039
            height 0.0694
            material GUI/PassiveUp
          }
          container Panel (Player1/ActiveContainer/ActiveBar)
          {
            top 0.064
            left 0.065
            width 0.08
            height 0.05
            material GUI/Player1/ActiveBar
          }
          element Panel (Player1/ActiveContainer/ActiveFrame)
          {
            top 0.064
            left 0.065
            width 0.08
            height 0.05
            material GUI/Player1/ActiveFrame
          }
        }
  }
  //Player1

//----------------------------- PLAYER 2 GUI --------------------------------------
      container Panel(Player2)
      {
        metrics_mode relative
        horz_align right
        top 0
        left -0.45
        width 0.45
        height 0.2
        material GUI/Base_Player2

        container Panel (Player2/Icon) : GUI/Icon
        {
          horz_align right
          left -0.093
          material GUI/RoundEmpty
        }
        container TextArea (Player2/Name) : GUI/PlayerName
        {

          horz_align right
          alignment right
          left -0.104

        }        
        container Panel (Player2/LifeBar)
        {
          horz_align right
          left -0.374
          top 0.0925
          width 0.27
          height 0.08
          material GUI/Player2/LifeBar
        }    
        container Panel (Player2/Round1) : GUI/Round
        {
          horz_align right
          left -0.311
        }
        container Panel (Player2/Round2) : GUI/Round
        {
          horz_align right
          left -0.341
        }
        container Panel (Player2/ActiveContainer)
        {
          metrics_mode relative
          horz_align right
          top 0.85
          left -0.2
          width 0.2
          height 0.15
          material GUI/Base_Player2

          container Panel (Player2/ActiveConainer/PassiveIcon)
          {
            horz_align right
            top 0.046
            left -0.052
            height 0.0694
            width 0.039
            material GUI/PassiveUp
          }
          container Panel (Player2/ActiveContainer/ActiveBar)
          {
            horz_align right
            top 0.064
            left -0.145
            width 0.08
            height 0.05
            material GUI/Player2/ActiveBar
          }
          element Panel (Player2/ActiveContainer/ActiveFrame)
          {
            horz_align right
            top 0.064
            left -0.145
            width 0.08
            height 0.05
            material GUI/Player2/ActiveFrame
          }
        }
    }
}
