template container Panel(GUI/BaseButton)
{
  metrics_mode pixels
    horz_align center
    vert_align center
    // Center it horizontally, put it at the top
    left 0
    top 0
    width 200
    height 100
    material GUI/Button/Idle

    container TextArea (GUI/BaseButton/Text)
    {
      metrics_mode pixels
      alignment center
      horz_align center
      left 0
      top 25
      height 50
      width 100
      font_name Caption
      caption BUTTON
      char_height 40
      colour 1 1 0
    }
}
// Graphical User Interface for the PlayScene.
// The name of the overlay comes first
KEK
{
    zorder 200
    container Panel(GUI/TimerPanel)
    {
        // Center it horizontally, put it at the top
        left 0.45
        top 0.05
        width 0.1
        height 0.1
	      material Neto
        // Another panel nested in this one
        container TextArea(TimerPanel/TextArea)
        {
            metrics_mode pixels
            //Horizontal allignment can be
            //Left, center or right
            horz_align center
            alignment center
            left 0
            top 40
            width 100
            height 100
            font_name Caption
            colour_top 0.8 0.8 0
            colour_bottom 0.1 0.1 1
            caption 56
            char_height 40
          }
        }

    container Panel(Player1)
    {
        metrics_mode relative
        top 0
        left 0
        width 0.45
        height 0.2
        material GUI/Base_Player

        container TextArea (Player1/Name)
        {
          metrics_mode pixels
          left 50
          top 50
          width 100
          height 100
          font_name Caption
          colour 0 1 0.5
          caption Player 1 : RA
          char_height 30
        }

        element Panel(Player1/LifeBarBackground)
        {
          metrics_mode pixels
          left 50
          top 100
          width 450
          height 50
          material GUI/LifeContainer

          element Panel (Player1/LifeBar)
          {
            metrics_mode pixels
            left 0
            top 0
            width 400
            height 50
            material GUI/BasicRed
            rotation 180 0 0 1
            container BorderPanel (Player1/BorderPanel)
            {
              metrics_mode pixels
              top 0
              left 0
              width 450
              height 50
              border_size 5 5 5 5
              border_material GUI/PlayerInfo/LifeBorder
            }

        }
      }
     }
     //Player1
      container Panel(Player2)
      {
        metrics_mode relative
        horz_align right
        top 0
        left -0.45
        width 0.45
        height 0.2
        material GUI/Base_Player2

        container TextArea (Player2/Name)
        {
          metrics_mode pixels
          horz_align right
          alignment right
          left -50
          top 50
          width 100
          height 100
          font_name Caption
          colour 0 1 0.5
          caption Player 2 : HACHISMAN
          char_height 30
        }

        element Panel(Player2/LifeBarBackground)
        {
          metrics_mode pixels
          horz_align right
          left -500
          top 100
          width 450
          height 50
          material GUI/LifeContainer

          element Panel (Player2/LifeBar)
          {
            metrics_mode pixels
            left 0
            top 0
            width 400
            height 50
            material GUI/BasicRed

            container BorderPanel (Player2/BorderPanel)
            {
              metrics_mode pixels
              top 0
              left 0
              width 450
              height 50
              border_size 5 5 5 5
              border_material GUI/PlayerInfo/LifeBorder
            }

        }
      }

      }
       //Player2
}
//Kek
