
InitGUI
{
  zOrder 200
  container Panel (Logo)
  {
    top 0
    left 0
    width 1
    height 1
    material Init/FotoMando
  
  container Panel (CircleOut)
  {
    top 0.7
    height 0.27
    left 0.425
    width 0.15
    material Init/CircleOut
  }
  container Panel (CircleIn)
   {
     top 0.7
     height 0.27
     left 0.425
     width 0.15
     material Init/CircleIn
   }
  }
}

